*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 30px;
}
header {
    height: 150px;
    margin-top: 20px
}

.logo {
    width: 50px;
    height: 35px;
}
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px
}

.hamburger {
    display: none;
    cursor: pointer;
   
}
.bar {
    display: block;
    width : 50px;
    height: 3px;
    margin: 9px auto;
    background: linear-gradient(270deg, #90CEA1 0%, #01B4E4 100%);
}
h1 {
    text-align: center;
    font-family: 'Epilogue';
    font-weight: 900;
    font-size: 30px;
    line-height: 31px;
    text-transform: uppercase;
}
.greeting-text {
    background: linear-gradient(270deg, #90CEA1 0%, #01B4E4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.input-container {
    width: 30%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;


}
.movie-search-input {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    border-width: thick; 
    border-radius: 50px;
    margin-right: 20px;

    
    
}
input::placeholder {
    font: 20px/3 sans-serif;
    font-family: 'Inter';
}
.movie-search-button {
    width: 30%;
    padding: 20px;
    margin: 8px 0;
    border-width: thick; 
    border-radius: 50px;
    background: linear-gradient(270deg, #90CEA1 0%, #01B4E4 100%);
    border: none;
    cursor: pointer;
}
.movie-search-button h2{
    color: white;
    font-family: 'Intel';
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}



@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(11px) rotate(45deg);
        transition: 0.5s;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-11px) rotate(-45deg);
        transition: 0.5s;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    .nav-menu.active {
        left: 0;
    }
    .main-content {
        margin-top: 0
    }
    .input-container {
        width: 90%;
        flex-direction: column;
    
    }
    .movie-search-button {
        width: 100%;
    }
}